header {
  border: 1px solid purple;
}



p {
border: 1px solid black;

}


.footer {
  border: 1px solid purple;
  color: purple;
  font-size: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  

}

#copyright {
height: 40px;
}

.djname {

  display: flex;
  flex-direction: column;

}

.playlist {
  display: flex;
  flex-direction: column;
}

body {
  background-image: url("https://i.imgur.com/nnzrpzo.png");
  background-repeat: no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.button {
  background-color: '#0069D9';
  color: 'purple';
  border-radius: '20px';
  padding: '25px 50px';
  font-size: '20px';
}

/* li a {
  /* display: in-line; */
  /* width: 60px;
  color: white;
  float: left;
*/ 

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  /* flex-direction: row; */
  justify-content: space-between;
}

.links {
  display: flex;
  justify-content: flex-end;
}

/* input {
font-size: 18px;
background-color: RGB(7,99 , 144, 0.5);
border: 1px white;
} */

.searchResults {
  text-align: center;
}

@media screen and (max-width: 780px) {
  
}

@media screen and (max-width: 1000px) {
  
}

input {
  
  font-size: 18px;
  height: 20px;
  width: 300px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: light;
}