header {
  border: 1px solid red;
}



p {
border: 1px solid black;

}


.footer {
  border: 1px solid white;
  color: white;
  font-size: 8px;
}

.djname {

  display: flex;
  flex-direction: column;

}

.playlist {
  display: flex;
  flex-direction: column;
}

body {
  background-image: url("https://i.imgur.com/nnzrpzo.png");
  background-repeat: no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.button {
  background-color: '#0069D9';
  color: 'purple';
  border-radius: '20px';
  padding: '25px 50px';
  font-size: '20px';
}


.navbar {
  display: flex;
  justify-content: flex-end;
}

.links {
  display: flex;
  justify-content: flex-end;
}

/* input {
height: 100px;
} */